%p#notice= notice

%p
  %b Name:
  = @thesis.name
%p
  %b Author:
  = @thesis.author.full_name
%p
  %b Abstract:
  = @thesis.abstract
%p
  %b Language:
  = @thesis.language
%p
  %b Defended:
  = @thesis.defended
%p
  %b Faculty:
  = @thesis.faculty.name

= link_to 'Edit', edit_thesis_path(@thesis)
\|
= link_to 'Back', theses_path
